.sub-header {
    background: #FF6021;
}

.sub-header-text {
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    text-align: right;
}

.navbar-brand img {
    margin-top: -15px;
}

.text-primary {
    color: #F87B3C;
}

.contact-div {
    background: #3ACA80;
    padding: 10px;
    margin-top: 20px;
}

footer {
    background:#00CA85;
}

.contact-div i {
    margin-bottom: 0.6em;
    font-size: 1.2em;
}

@media (max-width: 480px) {
   .navbar-btn{
       margin: 0 0 10px 0px;
   }

}

#contact-h3{
    margin-top: 10px !important;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 1.2em;
    font-weight: 400;
    color: #cacaca;
}

.form-holder {
    margin-bottom: 3em;
}

section {
    padding-top: 66px;
    padding-bottom: 66px;
}


footer .copyrights {
    background: #008c5b;
}

footer .copyrights ul a, footer .copyrights p, footer .copyrights p a {
    color: #FFFFFF;
}

footer .copyrights ul a:hover, footer .copyrights p a:hover{
    color: #272727;
}

footer .header h6::after {
    background: white;
}

footer p {
    color:white;
}

footer ul.contact a, footer ul.contact li {
    color: white;
}

footer ul.contact a:hover, footer ul.contact i:hover, footer .newsletter li a:hover {
    color: #363636;
}

footer .contact i {
    font-style: normal;
}
/*.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
  */