.sub-header {
    background: #F87B3C;
}

.sub-header-text {
    padding-top: 6px;
    padding-bottom: 6px;
    color: black;
    text-align: right;
}

.navbar-brand img {
    margin-top: -15px;
}

.text-primary {
    color: #F87B3C;
}

.contact-div {
    background: #509B85;
    padding: 10px;
    margin-top: 20px;
}

.contact-div i {
    margin-bottom: 0.6em;
}

@media (max-width: 480px) {
   .navbar-btn{
       margin: 0 0 10px 0px;
   }

}

#contact-h3{
    margin-top: 10px !important;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 1.2em;
    font-weight: 400;
    color: #cacaca;
}

.form-holder {
    margin-top: -5em;

/*.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
  */